* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F3F3F3;
}

.topo {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 22px;
    padding-right: 22px;
    box-shadow: 0 5px 8px #888888;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: #ffffff;
}

.topo ion-icon {
    font-size: 45px;
}

.chat {
    width: 100%;
    position: absolute;
    top: 106px;
    bottom: 106px;
    left: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

ul {
    width: 100%;
}

li {
    width: 100%;
    margin-bottom: 4px;
    flex-wrap: wrap;
    vertical-align: center;
    padding: 10px 9px;
}

/* ::-webkit-scrollbar {
    display: none;
} */

.status {
    background-color: #DCDCDC;
}

.private_message {
    background-color: #FFDEDE;
}

.message {
    background-color: #FFFFFF;
}

p {
    font-size: 14px;
    line-height: 20px;
    display: flex;
    flex-wrap: wrap;
}

strong {
    font-weight: bold;
}

span {
    color: #888888;
}

.fundo {
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 18px;
    box-shadow: 0 -5px 8px #888888;
    background-color: #ffffff;
}

input {
    width: calc(100% - 62px);
    height: 30px;
    font-style: italic;
    font-size: 18px;
    line-height: 22px;
    border: hidden;
}

input:focus {
    outline: none;
}

.fundo ion-icon {
    font-size: 26px;
}

.menu-lateral {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.68);
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.fundo-lateral {
    width: 30%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.68);
}

.barra-lateral {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 19px;
    padding-top: 20px;
}

.barra-lateral > div {
    width: 100%;
    color: #000000;
    margin-top: 5px;
    margin-bottom: 25px;
}

.negrito {
    font-weight: 700;
}

.tipo {
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
    position: relative;
}

.participantes ion-icon:first-child {
    font-size: 26px;
    margin-left: 18px;
    margin-right: 8px;
}

.visibilidade ion-icon:first-child {
    font-size: 22px;
    margin-right: 11px;
    margin-left: 24px;
}

.check {
    font-size: 12px;
    color: green;
    position: absolute;
    right: 15%;
}

.escondido {
    display: none;
}
